.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0818f6;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.4rem;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 1rem;
    cursor: pointer;
    background-color: #0818f6;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #4f57c2;
}

#main {
    transition: margin-left 0.5s;
    padding: 20px;
}

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}

/*body style*/

body {

  color: #333333; /*Grey color*/

  font-family: Arial, sans-serif;

  font-size: 20px;

}

/*Primary color*/

.primary-color {

  color: #5ca5ff; /*Light blue color*/

}

/*Navigation and links*/

a {

  color: #5ca5ff; /*Light blue color*/

  text-decoration: none;

}

a:hover {

  color: #3e89f2; /*Lighter shade of Light blue color*/

  text-decoration: underline;

}

/*Headings*/

h1, h2, h3, h4, h5, h6 {

  color: #333333;

  font-weight: bold;

}

/*Button style*/

.button {

  background-color: #5ca5ff; /*Light blue color*/

  color: white;

  border: none;

  border-radius: 4px;

  padding: 10px 20px;

  font-size: 20px;

  cursor: pointer;

  transition: background-color 0.2s ease;

}

.button:hover {

  background-color: #3e89f2; /*Lighter shade of Light blue color*/

}

/*Footer*/

.footer {

  background-color: #f5f5f5;

  color: #999999; /*Grey color*/

  padding: 20px;

  text-align: center;

}